{
  "parser": "babel-eslint",
  "extends": ["react-app", "airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}
